+++
title = "Index"
linkTitle = "Index"
+++

{{% blocks/cover title="Phil Hoffmann" height="min" color="primary" %}}
Personal website of Phil Hoffmann, a.k.a _PhilInTheGaps_ | _rophil_.
{{% /blocks/cover %}}

{{< blocks/lead >}}
<div class="col">
	<h1 class="text-center">Projects</h1>
</div>
{{< /blocks/lead >}}

{{< blocks/section >}}
<div class="col">
	<h2 class="text-center">GM-Companion</h2>
	<p class="text-center">
		A tool for tabletop rpg gamemasters. Free and Open Source.
	</p>
	<p class="text-center">
		<a href="https://gm-companion.github.io">Website</a><br>
		<a href="https://github.com/philinthegaps/gm-companion">GitHub</a>
	</p>
	<p class="text-center">
		<img style="max-width: 100%; height: auto" src="/img/gm-companion.png" alt="GM-Companion Screenshot" />
	</p>
</div>
{{< /blocks/section >}}

{{< blocks/section color="white" >}}
<div class="col">
	<h2 class="text-center">Das Schwarze Auge</h2>
	<p class="text-center">
		Ressourcen zum Pen&Paper-Rollenspiel "Das Schwarze Auge", welche ich für meine Spielrunde erstellt habe und auch hier zur Verfügung stelle.
	</p>
	<p class="text-center">
		<a href="/dsa">Hier</a> geht es zu den Downloads.
	</p>
</div>

{{< /blocks/section >}}
{{< blocks/section color="white" >}}
{{< blocks/feature icon="fa-dungeon" title="Battlemaps" >}}
<img style="max-width: 100%; height: auto" src="/oger/spielplan-preview.png" alt="centered image" />
{{< /blocks/feature >}}

{{% blocks/feature icon="fa-scroll" title="Handouts" %}}
<img style="width: 50%; height: auto" src="/oger/tokens-preview.png" alt="centered image" />
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-hat-wizard" title="Und mehr" %}}
... also irgendwann später bestimmt.
{{% /blocks/feature %}}
{{< /blocks/section >}}

